# PostgreSQL connection details
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=skoola_auth
DATABASE_URL=postgres://user:password@localhost:5432/skoola_auth
